[Desktop Entry]
Type=Application
Comment=Cryptocurrency Wallet
GenericName=Cryptocurrency Wallet
Categories=Finance;Network;
Name=${BMN_NAME}
Icon=${BMN_SHORT_NAME}
Exec=${BMN_SHORT_NAME}
Terminal=false
StartupNotify=false
#StartupWMClass=TODO
