.DS_Store
__pycache__
/build
/dist
/.tox
/.idea

# generated resources
/bmnclient/resources/qrc
/bmnclient/resources/translations/*.qm

# setuptools
/*.egg-info
/bmnclient-*.*.*

# private
/.publish*
