.DS_Store
__pycache__
/build
/dist
/.tox
/.idea
/*.egg-info

# generated resources
/bmnclient/resources/qrc
/bmnclient/resources/translations/*.qm
/bmnclient/resources/translations/*.ts

# private
/.publish*
.pypirc
